:root {
    --max-width: 1080px;
    --spacing-m: 20px;
    --spacing-s: calc(var(--spacing-m) / 2);
    --spacing-l: calc(var(--spacing-m) * 2);
    --gap-s: 5px;
    --gap-m: 10px;
    --gap-l: 15px;
    --foreground: 255, 255, 255;
    --background: 30, 30, 30;
    --purple: 149, 76, 218;
    --red: 235, 31, 41;
    --blue: 124, 204, 235;
    --yellow: 235, 183, 67;
}

@media (min-width: 480px) {
    :root {
        --spacing-m: 30px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark;
    font-size: 16px;
    background-color: rgb(var(--background));
}

html,
body {
    max-width: 100vw;
    min-height: 100svh;
}

main {
    position: relative;
}

/*reset*/
button {
    border: unset;
    outline: unset;
    font-family: inherit;
    font-size: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/*button*/
.button {
    border-radius: 50px;
    cursor: pointer;
    transition:
        background 200ms,
        color 200ms,
        opacity 200ms;
}

.button.full {
    display: flex;
    gap: var(--gap-m);
    align-items: center;
    width: fit-content;
    padding: 6px 10px 6px 12px;
    line-height: 20px;
}

.button.icon {
    padding: 6px;
    display: flex;
    align-content: center;
}

.button.primary {
    box-shadow: inset 0 1px 0 0 rgba(var(--foreground), 0.1);
    background-color: rgba(var(--foreground), 0.1);
    color: rgb(var(--foreground));
}

.button svg {
    display: block;
    height: 20px;
    width: 20px;
}

@media (hover: hover) {
    .button.primary:not(.disabled):hover {
        background-color: rgb(var(--foreground));
        color: rgb(var(--background));
    }
}

.button.disabled {
    filter: grayscale(1);
    opacity: 0.4;
    cursor: not-allowed;
}

/*layout*/
/*loader*/
section.loader.page {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.loader svg {
    display: block;
    --uib-size: 20px;
    --uib-color: rgb(var(--foreground));
    --uib-speed: 2s;
    --uib-bg-opacity: 0.1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    will-change: transform;
    overflow: visible;
}

section.loader svg.small {
    --uib-size: 14px;
    --uib-color: white;
    --uib-speed: 2s;
    --uib-bg-opacity: 0.1;
}

section.loader svg .car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
}

section.loader svg .track {
    fill: none;
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
        stroke-dasharray: 0, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 75, 150;
        stroke-dashoffset: -25;
    }
    100% {
        stroke-dashoffset: -100;
    }
}

/*header*/
header {
    position: fixed;
    bottom: var(--spacing-m);
    left: 50%;
    translate: -50% 0;
    z-index: 1;
    padding: 8px 16px;
    width: fit-content;
    background-color: white;
    color: black;
    border-radius: 50px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

header nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

header nav a {
    display: block;
    position: relative;
    line-height: 22px;
}

header nav .track {
    position: absolute;
    bottom: -4px;
    padding: 1px;
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
}

header nav .track .worm {
    background-color: rgb(var(--background));
    border-radius: 2px;
    width: 2px;
    height: 2px;
}

header nav .track .worm.shown {
    opacity: 1;
}

/*fluid*/
aside#fluid {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

aside#fluid .blur {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--background), 0.9);
    backdrop-filter: blur(10px);
}

aside#fluid .canvas {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*modals*/
/*credits*/
aside#credits {
    position: fixed;
    inset: 0;
    z-index: 2;
    padding: var(--spacing-m);
    background: rgba(var(--background), 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-m);
}

aside#credits .modal {
    max-width: fit-content;
    padding: var(--spacing-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 1px 0 0 rgba(var(--foreground), 0.1);
    background: rgba(var(--foreground), 0.1);
}

aside#credits .modal .links {
    width: 0;
    min-width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-s);
}

aside#credits .modal .links a {
    display: block;
    padding: 2px 10px;
    background-color: rgba(var(--foreground), 0.1);
    border-radius: 5px;
    font-size: 0.9rem;
    transition:
        background-color 200ms,
        color 200ms;
}

aside#credits .modal .links a:hover {
    background-color: rgba(var(--foreground), 1);
    color: rgb(var(--background));
}

aside#credits .modal .copyright {
    font-size: 0.8rem;
    opacity: 0.8;
}

/*showcase*/
aside#showcase {
    position: fixed;
    inset: 0;
    z-index: 2;
    background: rgba(var(--background), 0.8);
    backdrop-filter: blur(10px);
    padding: var(--spacing-m) 0;
}

aside#showcase .wrapper {
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
    height: 100%;
}

aside#showcase .display,
aside#showcase .controls,
aside#showcase .metadata {
    padding: 0 var(--spacing-m);
}

aside#showcase .display {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
}

aside#showcase .display .slider {
    display: flex;
    gap: 50px;
    height: 100%;
    min-width: 100%;
}

aside#showcase .display .slider .slide {
    position: relative;
    min-width: 100%;
}

aside#showcase .display .slider .slide .scrollable {
    position: absolute;
    left: var(--gap-s);
    bottom: var(--gap-s);
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    padding: 5px;
    border-radius: 5px;
}

aside#showcase .display .slider .slide .scrollable svg {
    display: block;
    height: 20px;
    width: 20px;
}

aside#showcase .display .slider .slide figure {
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

aside#showcase .display .slider .slide.loaded figure {
    overflow-y: auto;
}

aside#showcase .display .slider .slide figure .overflow {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside#showcase .display .slider .slide figure .overflow img {
    display: block;
}

aside#showcase.site .display .slider .slide figure .overflow img,
aside#showcase.interface .display .slider .slide figure .overflow img {
    width: 100%;
    max-width: 860px;
    height: auto;
    border-radius: 10px;
}

aside#showcase.icon .display .slider .slide figure .overflow img {
    height: 128px;
    width: auto;
}

aside#showcase.branding .display .slider .slide figure .overflow img {
    height: auto;
    max-height: 128px;
    width: auto;
    max-width: 100%;
    border-radius: 10px;
}

aside#showcase .display .slider .slide .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

aside#showcase .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
}

aside#showcase .controls .dots {
    position: relative;
    display: flex;
    gap: 15px;
    width: fit-content;
    margin: 0 auto;
    padding: 1px;
}

aside#showcase .controls .dots .dot {
    height: 2px;
    width: 2px;
    background-color: rgba(var(--foreground), 0.4);
    border-radius: 1px;
}

aside#showcase .controls .dots .track {
    position: absolute;
    inset: 1px;
    width: 100%;
    display: flex;
    align-items: center;
}

aside#showcase .controls .dots .track .worm {
    background-color: rgb(var(--foreground));
    border-radius: 2px;
    width: 2px;
    height: 2px;
}

aside#showcase .controls .buttons {
    display: flex;
    gap: var(--spacing-s);
}

aside#showcase .download {
    position: relative;
}

aside#showcase .download .loader {
    position: absolute;
    top: 50%;
    left: calc(100% + var(--spacing-s));
    translate: 0 -50%;
}

aside#showcase .metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
}

aside#showcase .metadata h2 {
    text-align: center;
}

aside#showcase .metadata ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

aside#showcase .metadata ul li {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}

aside#showcase .metadata ul li svg {
    display: block;
    height: 16px;
    width: 16px;
}

/*pages*/
/*error*/
main#error {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    align-items: center;
    justify-content: center;
    z-index: 0;
}

main#error > svg {
    display: block;
    height: 64px;
    width: 64px;
    color: rgba(255, 255, 255, 0.4);
}

/*home*/
main#home {
    min-height: inherit;
}

main#home .wrapper {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    padding: var(--spacing-l) var(--spacing-l) calc(var(--spacing-l) + 38px) var(--spacing-l);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: inherit;
    gap: var(--spacing-m);
}

main#home .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-l);
    color: rgb(var(--foreground));
}

main#home .logo .icon,
main#home .logo .text {
    width: auto;
}

main#home .logo .icon {
    height: 100px;
}

main#home .logo .text {
    height: 60px;
}

@media (min-width: 480px) {
    main#home .logo .icon {
        height: 128px;
    }

    main#home .logo .text {
        height: 80px;
    }
}

main#home .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
}

main#home .heading h1 {
    font-size: 1.4rem;
}

main#home .heading p {
    opacity: 0.9;
}

main#home .heading p span {
    opacity: 1;
    font-weight: bold;
}

main#home .heading .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

@media (min-width: 530px) {
    main#home .heading h1 {
        font-size: 2rem;
    }
}

/*web*/
main#web .wrapper {
    max-width: var(--max-width);
    padding: var(--spacing-m);
    margin: 0 auto;
}

main#web #introduction .tint {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    gap: var(--spacing-s);
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(var(--foreground), 0.1);
    box-shadow: inset 0 1px 0 0 rgba(var(--foreground), 0.1);
    padding: var(--spacing-m);
}

main#web #introduction .tint > svg {
    display: block;
    height: 64px;
    width: 64px;
    color: rgb(var(--yellow));
}

main#web #introduction .description {
    max-width: 480px;
}

main#web #introduction .links {
    display: flex;
    gap: var(--spacing-s);
    flex-wrap: wrap;
}

main#web #projects .wrapper {
    padding-bottom: calc(var(--spacing-l) + 38px);
}

main#web #projects .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
    margin-bottom: var(--spacing-l);
}

main#web #projects .heading svg {
    display: block;
    height: 32px;
    width: 32px;
    color: rgb(var(--yellow));
}

main#web #projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: min-content;
    gap: var(--spacing-m);
}

/*design*/
main#design .wrapper {
    max-width: var(--max-width);
    padding: var(--spacing-m);
    margin: 0 auto;
}

main#design #introduction .tint {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    gap: var(--spacing-s);
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(var(--foreground), 0.1);
    box-shadow: inset 0 1px 0 0 rgba(var(--foreground), 0.1);
    padding: var(--spacing-m);
}

main#design #introduction .tint > svg {
    display: block;
    height: 64px;
    width: 64px;
    color: rgb(var(--blue));
}

main#design #introduction .description {
    max-width: 480px;
}

main#design #projects .wrapper {
    padding-bottom: calc(var(--spacing-l) + 38px);
}

main#design #projects .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
    margin-bottom: var(--spacing-l);
}

main#design #projects .heading svg {
    display: block;
    height: 32px;
    width: 32px;
    color: rgb(var(--blue));
}

main#design #projects .hr {
    width: 100%;
    height: 2px;
    background-color: rgba(var(--foreground), 0.1);
    border-radius: 1px;
    margin: var(--spacing-m) auto;
}

main#design #projects .branding {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(86px, 1fr));
    grid-auto-rows: 1fr;
    gap: var(--spacing-s);
}

@media (min-width: 480px) {
    main#design #projects .branding {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-s);
    }
}

main#design #projects .interfaces,
main#design #projects .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
}

/*projects*/
#projects .project .image .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*site*/
#projects .project.site {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

#projects .project.site .image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project.site .image img {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
}

#projects .project.site .status {
    position: absolute;
    background-color: rgb(var(--yellow));
    color: rgb(var(--background));
    top: var(--gap-s);
    right: var(--gap-s);
    padding: 5px 8px 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-m);
}

#projects .project.site .status p {
    line-height: 18px;
}

#projects .project.site .status svg {
    height: 18px;
    width: 18px;
    display: block;
}

#projects .project.site .information {
    position: absolute;
    background-color: rgba(var(--background), 0.8);
    backdrop-filter: blur(10px);
    bottom: var(--gap-s);
    left: var(--gap-s);
    right: var(--gap-s);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-s);
    padding: var(--spacing-s);
}

#projects .project.site .information .actions {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}

/*design*/
#projects .project.design .image {
    position: relative;
    cursor: pointer;
    transition: scale 200ms ease;
}

#projects .project.design .image img {
    position: relative;
    display: block;
}

#projects .project.design.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
}

#projects .project.design.icon .image img {
    width: 64px;
    height: 64px;
}

#projects .project.design.interface {
    width: 100%;
    max-width: 360px;
}

#projects .project.design.interface .image img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

#projects .project.design.branding .image {
    box-shadow: inset 0 1px 0 0 rgba(var(--foreground), 0.1);
    background: rgba(var(--foreground), 0.1);
    border-radius: 10px;
    padding: 14px;
}

#projects .project.design.branding .image img {
    max-height: 50px;
    max-width: 50px;
    margin: 0 auto;
    object-fit: contain;
}

@media (hover: hover) {
    #projects .project.design.icon .image:hover,
    #projects .project.design.branding .image:hover {
        scale: 1.05;
    }

    #projects .project.design.interface .image:hover {
        scale: 1.025;
    }
}

#projects .project.icon .installs {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}

#projects .project.icon .installs svg {
    display: block;
    height: 16px;
    width: 16px;
    opacity: 0.4;
}

#projects .project.icon .installs p {
    line-height: 20px;
    font-size: 0.8rem;
}
