.section {
    position: relative;
    min-height: inherit;
}

.wrapper {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    padding: var(--spacing-m) var(--spacing-m) calc(var(--spacing-l) + 38px) var(--spacing-m);
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--spacing-m);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
}

.content p {
    opacity: 0.9;
}

.content p span {
    opacity: 1;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: fit-content;
    }

    .content {
        align-items: flex-start;
    }

    .links {
        width: 100%;
        justify-content: flex-start;
    }
}
