.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-m);
}

.icon {
    display: block;
    height: calc(128px - var(--spacing-m));
    width: auto;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.top,
.bottom {
    display: block;
    height: calc(calc(64px - 8px / 2) - var(--spacing-m));
    width: fit-content;
}

@media (min-width: 480px) {
    .icon {
        height: 128px;
    }

    .top,
    .bottom {
        height: calc(64px - 8px / 2);
    }
}

@media (min-width: 768px) {
    .logo {
        flex-direction: row;
        align-items: center;
    }

    .text {
        align-items: flex-start;
    }
}
