.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-m);
    width: 100%;
    max-width: calc(480px - var(--spacing-l));
}

.slider {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.slides {
    position: relative;
    display: flex;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slides::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

.previous,
.next {
    border: unset;
    outline: unset;
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    top: var(--spacing-m);
    z-index: 1;
    border-radius: 50px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    background: #ffcb57;
    color: rgb(30, 30, 30);
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-content: center;
    transition:
        background 200ms,
        color 200ms,
        opacity 200ms,
        box-shadow 200ms;
}

.previous svg,
.next svg {
    display: block;
    height: 20px;
    width: 20px;
}

.previous:disabled,
.next:disabled {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.1);
    background: #48402d;
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.1);
}

.previous {
    left: var(--spacing-m);
}

.next {
    right: var(--spacing-m);
}

.dots {
    display: flex;
    gap: 8px;
    position: relative;
}

.dots .worm {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50px;
}

.dots .dot {
    position: relative;
    height: 8px;
    width: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
