.container {
    position: relative;
}

.container img {
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
