.container {
    position: fixed;
    inset: 0;
    overflow-y: hidden;
    background: rgba(var(--background), 0.8);
    backdrop-filter: blur(10px);
    z-index: 2;
}

.container.loaded {
    overflow-y: auto;
}

.wrapper {
    position: relative;
    padding: var(--spacing-m);
    max-width: 860px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.loaded .wrapper {
    height: fit-content;
    min-height: 100%;
}

.heading {
    display: flex;
    gap: var(--spacing-m);
    justify-content: space-between;
    margin-bottom: var(--spacing-m);
}

.heading .tags {
    display: flex;
    gap: var(--spacing-s);
    flex-wrap: wrap;
    margin-top: var(--spacing-s);
}

.heading .tag {
    display: flex;
    gap: 5px;
    align-items: center;
}

.heading .tag svg {
    display: block;
    height: 16px;
    width: 16px;
}

.heading .close {
    height: fit-content;
}

.wrapper figure {
    position: relative;
    border-radius: 15px;
    box-shadow: inset 0 1px 0 0 rgba(var(--foreground), 0.1);
    background: rgba(var(--foreground), 0.1);
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loaded .wrapper figure {
    height: fit-content;
    overflow: auto;
}

.wrapper figure .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.wrapper figure img {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: auto;
}
