.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
    margin-bottom: var(--spacing-m);
}

.heading figure {
    height: 64px;
    width: 64px;
    background-color: rgba(255, 203, 87, 0.1);
    border-radius: 50%;
    color: #ffcb57;
    box-shadow: inset 0 1px 0 0 rgba(255, 203, 87, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading svg {
    display: block;
    height: 32px;
    width: 32px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: min-content;
    gap: var(--spacing-m);
}
