.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-s);
    position: relative;
}

.thumbnail {
    position: relative;
    width: 100%;
    max-width: 360px;
}

.thumbnail img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.status {
    position: absolute;
    background-color: rgb(var(--yellow));
    color: black;
    bottom: 5px;
    left: 5px;
    padding: 5px 8px 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.status p {
    line-height: 18px;
}

.status svg {
    height: 18px;
    width: 18px;
    display: block;
}

.actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}
